<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :book_title %>
  </div>

  <div class="field">
    <%= form.label :abstract %>
    <%= form.text_field :abstract, id: :book_abstract %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, id: :book_summary %>
  </div>

  <!-- <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :book_photo %>
  </div> -->

  <div class="field">
    <%= form.label :shop %>
    <%= form.text_area :shop, id: :book_shop %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.order(:title),:id,:title, include_blank: true %>
    <%= link_to 'New category', new_category_path %>
  </div>

  <div class="field">
    <%= form.label :author_id %>
    <%= form.collection_select :author_id, Author.order(:name),:id,:name, include_blank: true %>

    <%= link_to 'New author', new_author_path %>
    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
